.footer{
    margin-top: 20px;
    text-align: left;
    background-color: #008000;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 12px;
    font-family: "Roboto Slab", serif;
  }
  .footer p{
    margin: 0px;
    color:#ffff
  }
  .left {
      left:0
  }
  .right {
     float:right
  }
  .ftr a {
    color:#fff;
  } 

  @media (min-width: 992px) {
    #footer .container {
        max-width: 960px;
    }
  }

  @media (max-width: 769px) {
    .right {
        float:none;
     }
     .footer {
         text-align: center;
     }
  }
