.navbar {
    position: absolute;
    background: transparent;
    z-index: 1;
    width: 100%;
    transition: all 0.5s;
}

.navbar.scrolled {
  background-color: #008000;
  position: fixed;
  padding: .1rem 1rem;
}

.brand {
  text-align: center;
  align-items: center;
  font-size: 18px;
  font-weight: 800;
}
  
.logo {
  height: 42px;
}

#banner {
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    align-items: center!important;
}
#banner:before {
  content: "";
  background: rgb(74 74 74 / 32%);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#banner .position-relative {
  text-align: center;
}
.align-items-center {
  -ms-flex-align: center!important;
  align-items: center!important;
}
.d-flex {
  display: -ms-flexbox!important;
  display: flex!important;
}
#banner h1 {
  margin: 0 0 10px 0;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.3;
  color: #fff;
  font-family: "Roboto Slab", serif;
}
#banner h2 {
  color: #eee;
  margin-bottom: 30px;
  font-size: 24px;
}
.button {
  margin-top: 20px;
  width: 190px;
}
.logo-banner {
  height: 100px;
}

.page {
  height: 50vh !important;
}

  
/* @media screen and (max-width: 580px) {
  #navbar {
    padding: 20px 10px !important;
  }
} */

#content {
  padding-top: 20px;
}

#content .img-person {
  height: 100px;
  border-radius: 50%;
  width: 100px;
  object-fit: cover;
}

#text-content h3 {
  font-size: 32px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  position: relative;
  padding-bottom: 15px;
  font-family: "Roboto Slab", serif;
}

#text-content h3::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #18d26e;
  bottom: 0;
  left: calc(50% - 20px);
}

#text-content .container-person {
  display: flex!important;
}

#text-content .image-person {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 195px;
  flex: 0 0 195px;
  max-width: 195px;
  width: 100%;
  height: 237px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

#person-info {
  padding: 0 23px;
}

#person-info i {
  font-size: 41px;
  display: inline-block;
  color: #18d26e;
}

#person-info address {
  color: #000;
  font-style: italic;
  margin-bottom: 0px;
}

#person-info a {
  color: #000;
  text-decoration: none;
  margin-bottom: 0px;
}

#person-info p {
  margin-bottom: 0px;
}

#person-info a:hover {
  color: #18d26e;
}

#person-info h2 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 10px 0 0 0px;
}

#text-content .info {
  display: flex;
  align-items: center;
}

#text-content .col-lg-6 {
  margin-bottom: 35px;
  background-color: #eff4f6;
}

.center {
  text-align: center;
}

.content-form {
  padding-top: 130px;
}

.center {
  font-family: "Roboto Slab", serif;
  text-align: center;
}

.border {
  border-bottom: gray !important;
  border-bottom-style: solid !important;
}
}